.item {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-list-wrapper {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 30px;
    margin: 0 10px;
  }

  &-total {
    &-card {
      display: flex;
      flex-direction: column;

      margin: 50px 20px;

      .ant-card-body {
        padding: 15px;
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }
}
