.item {
  &-title,
  &-speed,
  &-price,
  &-description {
    margin: 0;
    padding: 0;
  }

  &-description {
    font-size: 11px;
    font-style: italic;
  }

  &-card {
    margin: 8px;

    .ant-card-body {
      display: flex;
      align-content: center;
      padding: 0;
    }
  }

  &-image {
    width: 60px;
    margin-right: 10px;
  }

  &-price {
    align-self: flex-end;
    margin-left: 50px;
  }
}
